{%load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}vBooks @victorceronl{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'vbooks_01/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">vBooks @victorceronl</a></li>
        </ul>
    </nav>

    
    <div class="content">
        <div id="seccionLibrosBest">
            <h2><a href="{% url 'category' 'BestSellers' %}">BEST SELLERS</a></h2>
            <p>Exitos incomparables</p>
            <div class="purchase-buttons"><a href="{% url 'category' 'BestSellers' %}" class="masInfo">Más información</a></div>
                <div class="carousel">
                <a href="libro_0009.html"><img src="{% static 'ebookStore/img/libro_0009.jpg' %}" alt="libro_0009" class="carousel-item"></a>
                <a href="libro_0010.html"><img src="{% static 'ebookStore/img/libro_0010.jpg' %}" alt="libro_0010" class="carousel-item"></a>
                <a href="libro_0011.html"><img src="{% static 'ebookStore/img/libro_0011.jpg' %}" alt="libro_0011" class="carousel-item"></a>
                <a href="libro_0011.html"><img src="{% static 'ebookStore/img/libro_0011.jpg' %}" alt="libro_0011" class="carousel-item"></a>
                </div>    
        </div>

        <div id="seccionLibrosNeg">
            <h2><a href="{% url 'category' 'Negocios' %}">NEGOCIOS</a> </h2>
            <p>Productividad, impacto y enfoque.</p>
            <div class="purchase-buttons"><a href="{% url 'category' 'Negocios' %}" class="masInfo">Más información</a></div>
                <div class="carousel">
                <a href="libro_0009.html"><img src="{% static 'ebookStore/img/libro_0009.jpg' %}" alt="libro_0009" class="carousel-item"></a>
                <a href="libro_0010.html"><img src="{% static 'ebookStore/img/libro_0010.jpg' %}" alt="libro_0010" class="carousel-item"></a>
                <a href="libro_0011.html"><img src="{% static 'ebookStore/img/libro_0011.jpg' %}" alt="libro_0011" class="carousel-item"></a>
                <a href="libro_0011.html"><img src="{% static 'ebookStore/img/libro_0011.jpg' %}" alt="libro_0011" class="carousel-item"></a>
                </div>    
        </div>

        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Copyright © 2025 @victorceronl. All rights reserved.</p>
    </footer>
</body>
</html>
