{% extends 'vbooks_01/base.html' %}

{% block title %}{{ ebook.title }}{% endblock %}

{% block main_content %}
<!-- vacío intencionalmente para no mostrar los carruseles -->
{% endblock %}

{% block content %}


 <div  class="ventaEbook">
  <h2>{{ ebook.title }}</h2>
  {% if ebook.cover %}
    <img src="{{ ebook.cover.url }}" alt="{{ ebook.title }}" class="imagenPortadaVenta">
  {% endif %}

  <p>{{ ebook.subtitle }}</p>
  <div class="purchase-buttons">
    <a href="{% url 'download_file' ebook.id %}" class="pagarLibro">Descargar</a>
<!--    <a href="{% url 'download_file' ebook.id %}" class="masInfo">${{ ebook.price }}</a> -->
    <a href="{% url 'donativo' %}" class="masInfo">Donar</a> 
  </div>
</div>

 <div class="descripcionVentaLibro">
  <p class="descripcionEbook"><strong>Descripción:</strong> {{ ebook.description }}</p>
</div>

<!-- <p><strong>Páginas:</strong> {{ ebook.pages }}</p> -->
<p><strong>Publicado:</strong> {{ ebook.publication_date|date:"d/m/Y" }}</p>
<!-- <p><strong>Descargas:</strong> {{ ebook.download_count }}</p> -->


{% endblock %}
