{%load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBooks @victorceronl</title>
    <link rel="stylesheet" href="{% static 'ebookStore/style.css' %}">
    <script src="script.js"></script>
</head>
<body>
        <header>
        <h1>@victorceronl eBooks</h1>
        </header>

        <div id="negociosBooks">
        <h2>Empieza con el Porqué</h2>
        <p>Hazlo con propósito y atraerás innovación, compromiso e inspiración.</p>
            <div class="purchase-buttons">
                <a href="libro_0001.html" class="masInfo">Más información</a>
                <a href="libro_0001.html" class="pagarLibro">Comprar el Libro</a>
            </div>
        <a href="libro_0001.html"><img src="{% static 'ebookStore/img/libro_0001.jpg' %}" alt="libro_0001" class="portadaIndex"></a>
        </div>
           

        <div id="seccionLibrosNeg">
            <h2>NEGOCIOS</h2>
                <div class="purchase-buttons"><a href="negocios.html" class="masInfo">Más información</a></div>
            <p>Productividad, impacto y enfoque.</p>

                <div class="carousel">
                <a href="libro_0002.html"><img src="{% static 'ebookStore/img/libro_0002.jpg' %}" alt="libro_0002" class="carousel-item"></a>
                <a href="libro_0003.html"><img src="{% static 'ebookStore/img/libro_0003.jpg' %}" alt="libro_0003" class="carousel-item"></a>
                <a href="libro_0004.html"><img src="{% static 'ebookStore/img/libro_0004.jpg' %}" alt="libro_0004" class="carousel-item"></a>    
                </div>
        </div>
        
        <div id="seccionLibrosBest">
            <h2>BEST SELLERS</h2>
            <div class="purchase-buttons"><a href="bestsellers.html" class="masInfo">Más información</a></div>
            <p>Exitos incomparables</p>
                <div class="carousel">
                <a href="libro_0009.html"><img src="{% static 'ebookStore/img/libro_0009.jpg' %}" alt="libro_0009" class="carousel-item"></a>
                <a href="libro_0010.html"><img src="{% static 'ebookStore/img/libro_0010.jpg' %}" alt="libro_0010" class="carousel-item"></a>
                <a href="libro_0011.html"><img src="{% static 'ebookStore/img/libro_0011.jpg' %}" alt="libro_0011" class="carousel-item"></a>
                </div>    
        </div>

        <div id="bestsellersBooks">
            <h2>Las 48 Leyes del Poder</h2>
            <div class="purchase-buttons">
                <a href="libro_0012.html" class="masInfo">Más información</a>
                <a href="libro_0012.html" class="pagarLibroBlack">Comprar el Libro</a>
            </div>
            <p>Amoral, inmisericorde, despiadada y, sobre todo, concisa.</p>
            <a href="libro_0012.html"><img src="{% static 'ebookStore/img/libro_0012.jpg' %}" alt="libro_0012" class="portadaIndex"></a>
        </div>
        

<p class="copy">Copyright © 2025 @victorceronl. All rights reserved.</p>
</body>
</html>