/* === HEADER === */
.navbar {
    background-color: black;
    color: white;
    padding: 0.1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* === LETRAS === */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* === ENLACE PRINCIPAL === */
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* === EFECTO HOVER === */
.navbar ul li a:hover {
    color: #ffcc00;
    transform: scale(1.05); /* ligero efecto de aumento */
}