body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}


.navbar {
    background-color: black;
    color: white;
    padding: 0.1rem;
    text-align: center;
}

.navbar ul {
    list-style: none;
    gap: 35px;
    font-size: 2rem;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: #ffcc00;
}

.content {
    padding: 0px;
}

.content ul li a{
    list-style: none;
    text-decoration: none;
}
/* SECCION PRINCIPAL NEGOCIOS */
#seccionLibrosNeg{
    background-color: black;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    color: white;
    text-transform: bold;
}

#seccionLibrosNeg h2{
    font-size: 2.5rem;
}

#seccionLibrosNeg a{
color: white;
text-decoration: none;
}

#seccionLibrosBest{
    background: white;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    text-transform: bold;
}

#seccionLibrosBest h2{
    font-size: 2.5rem;
}

#seccionLibrosBest a{
    color: black;
    text-decoration: none;
}
/* BOTONES*/
.purchase-buttons a {
    display: inline-block;
      margin: 0.5rem;
      padding: 0.3rem 1rem;
      font-size:1rem;
      border-radius: 10px;
      text-decoration: none;
}

.masInfo{
  background-color: #007aff;
  color: white !important;
}

.pagarLibro{
    background-color: white;
    border-color: #007aff;
    border-width: 0.1rem;
    border-style: solid;
    color: #007aff;
}

.pagarLibroBlack{
    background-color: black;
    border-color: #007aff;
    border-width: 0.1rem;
    border-style: solid;
    color: #007aff;
}
/* DESTACADOS */
.ebook-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.ebook-item {
    width: 200px;
    text-align: center;
}
.cover, .cover-detail {
    width: 170px;
    height: auto;
}

/* CARROUSEL*/
.carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.carousel-item {
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}


.agregarEbooksImg {
    width: 500px;      /* ancho fijo */
    border: 0.1px solid rgb(216, 208, 123) ;
    height: auto;      /* mantiene la proporción original */
    border-radius: 10px; /* opcional, bordes redondeados */
    display: block;    /* para poder centrarla fácilmente */
    margin: 1rem auto; /* centrada horizontalmente con margen arriba/abajo */
}



/* PAGINA INDIVIDUAL*/
.imagenPortadaVenta{
    width: 280px;
    height: auto;
    border-radius: 5px;
    border: 0.5px solid rgb(216, 208, 123) ;
}

.ventaEbook{
    background: white;
    padding: 4rem;
    text-align: center;
}

.ventaEbook p{
    font-size: 1.7rem;
    color: black;
    margin-top: 0.5rem;
}

.informacionEbookVenta{
    padding: 0.2rem;
    margin-top: 5rem;
    background-color: white;
    border-radius: 10px;
}
.publicacionEbook{
    font-size: 1.3rem;
    color: rgb(57, 55, 55);
    margin-top: 0.5rem;
}
.descripcionVentaLibro{
    background-color: black;
    padding: 3rem;
    margin-top: 0.1rem;
    text-align: center;
    border-radius: 0px;
}
 .descripcionEbook{
    font-size: 1.5rem;
    color:white;
    margin-top: 0.5rem;
    line-height: 1.5;
 }